body,
html {
	height: 100%;
	/* The image used */
	background-image: url("./Components/Images/bgimg.jpeg");
	height: 100%;
	/* Center and scale the image*/
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow-x: auto;
	padding-bottom: 20px;
    color: white;
    font-family: Arial
}

.btnzz:hover {
	opacity: 0.5;

}
